



/*
*   Primary navigation
*/

ul#primary-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  li:not(last-child) {
    padding-right: 12px;
  }
}

/*
*   Horizontal navigationbar
*/

.navigation-horizontal {

}

/*
*   Vertical navigationbar
*/

.navigation-vertical {
  #main-navigation {
    > * {
      width: 100%;
    }
    .navbar-brand {
      text-align: center;
    }
    #primary-menu {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  }
}

/*
*   responsive navbar
*/
.desktop-nav {
  display: none;
}
@media (min-width:800px) {
  .navbar-toggler {
    display: none;
  }
  .desktop-nav {
    display: block;
  }
}
